<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../src/public/css/style.css">
  <title>Productos en tiempo real</title>
</head>
<body>
   <div class="row-md-4 d-flex align-items-center justify-content-center">
                 <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/login">Login</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/register">Registrarse</a>
                     </li>
                      <li class="nav-item">
                        <a class="nav-link text-white" href="/realtimeProducts">Formulario</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/chat">Chat</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" href="/products">Terapias</a>
                     </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/profile">Tu perfil</a>
                     </li>
                     <li>
                        <button id="cartButton">游</button>
                     </li>
                 </ul>
            </div>
<div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1 class="color1">Restaurar tu Contrase침a</h1>
                <form class="color1" id="reset-password-form">
                    <div class="mb-3">
                        <label class="form-label">Contrase침a Actual</label>
                        <input type="password" name="current-password" class="form-control" id="current-password">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Nueva Contrase침a</label>
                        <input type="password" name="new-password" class="form-control" id="new-password">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirmar Contrase침a</label>
                        <input type="password" name="confirm-password" class="form-control" id="confirm-password">
                    </div>
                    <button type="button" class="botons" id="resetPass" name="resetPass">Restablecer</button>
                    <div id="success-message" class="alert alert-success" style="display: none;">
                        Contrase침a cambiada con 칠xito.
                    </div>
                    <div id="error-message"></div>
                </form>
            </div>
        </div>
    </div>
<script src="../src/public/recoverLanding.js"></script>
</body>
</html>